
#app{
    width: 100%;
    min-width: 1380px;
    margin: 0 auto; // background: url('~img/main.jpg') no-repeat center top;
    background-color: #fff;
    letter-spacing: 1px;
		a{
			text-decoration: none;
			color: inherit;
	}
    .box{
        width: 100%;
        text-align: center;
        margin-top: 110px;
    }

// 内容
.content {
    margin: 0 auto;
    width: 1380px;
    height: 100%;
  }
.boxcontent {
    h3{
        font-size: 30px;
    }

    .soft{
        margin-top: 50px;
        .item{
            // border: 1px solid #666;
            width: 418px;
            height: 456px;
            // position: relative;
          	&.itemOne{
							position: relative;
							.one{
								display:block;
								width: 70px;
								height: 70px;
								background:url('~img/组17.png') no-repeat;
								position: absolute;
								left: 50%;
								top: 50%;
								margin-left: -35px;
								margin-top: -14px;

							}
						}

						&.itemTwo{
							position: relative;
							.two{
								display:block;
								width: 70px;
								height: 70px;
								background:url('~img/组16.png') no-repeat;
								position: absolute;
								left: 50%;
								top: 50%;
								margin-left: -35px;
								margin-top: -14px;
							 }
						}

						&.itemThree{
							position: relative;
							.three{
								display:block;
								width: 70px;
								height: 70px;
								background:url('~img/组15.png') no-repeat;
								left: 50%;
								top: 50%;
								margin-left: -35px;
								margin-top: -14px;
								position: absolute;
							 }
						}

            h5{
            font-size: 20px;
            color: #333333;
						padding-top: 20px;
						margin-top: 25px;
            }
            p{
     font-size: 14px;
     color: #737373;
     line-height: 26px;

            }
        }
        .item:last-child{
            margin-right: 0px;
        }
    }

}
  // 案例
  .contentcar{
    width: 1380px;
    margin: 0 auto;
    .box{
        h3{
            font-size: 30px;
            font-weight: 400;
            // padding-top: 110px;
        }
    .blue{
        width: 20px;
        height: 26px;
        background-color: #14c1fe;
    }
    h5{
        margin-left: 25px;
        font-size: 20px;
        font-weight: 400;
        color: #343434;
    }
    p{
        text-align:left;
        padding-left:45px;
        color: #666666;
        font-size: 16px;
        line-height: 30px;
        width: 1488px;
    }
    ul{
			margin-bottom: 50px;
        li{
					list-style: none;
					margin-top: 100px;
					margin-right: 60px;
            img{
						  width: 400px !important;
							height: auto !important;
              }
				}
				li:last-child {
					margin-right: 0px;
				 }
    }

  a{

      display: inline-block;
    .bottomp{
			margin:108px auto;
			display: block;
			width: 224px;
			height: 50px;
			line-height: 50px;
			font-size: 20px;
			background: #3ea2fa;
			background: -moz-linear-gradient(45deg, #3ea2fa 0%, #0ac8ff 100%);
			background: -webkit-linear-gradient(45deg, #3ea2fa 0%, #0ac8ff 100%);
			background: linear-gradient(45deg, #3ea2fa 0%, #0ac8ff 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea2fa', endColorstr='#0ac8ff', GradientType=1);
			color: #fff;
			border-radius: 5px;
    }
  }
}
}

.bottomBox {
margin-top: 42px;
height: 280px;
background-color: #202528;
.content {
  padding-left: 30px;
}
.item {

  width: 260px;
  color: #fff;
  padding-top: 54px;
  .itemHead {
    font-size: 18px;
    margin-bottom: 17px;
  }
 ul{
   padding-left: 0;
  li {
    color: #A6A7A9;
    line-height: 40px;
    font-size: 14px;
    list-style: none;
   cursor: pointer;
  }
 }
}
.bottomRight {

  padding-top: 54px;
  width: 310px;
  .text {
    margin-top: 36px;
    color: #fff;
    font-size: 18px;
  }
}
}

.footer {
background-color: #2D3236;
height: 80px;
color: #ACADAF;
line-height: 28px;
font-size: 14px;
.content {
  padding-left: 25px;
  padding-top: 10px;
}
}

}
