
#preview{
.ant-btn-primary{
  width: 174px;
  height: 46px;
  background-color: #ffffff;
  font-size: 17px;
  color: #74c8fd;
  border: 1px solid #74c8fd;
}
.ant-modal{
  width: 700px !important;
  height: 800px !important;
}

}