#cloudTab{
	width: 100%;
	background-color: #ffffff;
	.ant-tabs-nav .ant-tabs-tab{
		margin-right: 120px;
		margin-left: 120px;
	}
	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content {
		background-color: #f7f7f7 !important;
	}
	.ant-tabs-nav .ant-tabs-tab：last-child{
		margin-right: 0;
	}
	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane{
		width: 1380px;
		margin: 0 auto;
	}
	.ant-tabs-bar{
		border: none;
	}
	.ant-tabs-tab-prev.ant-tabs-tab-arrow-show, .ant-tabs-tab-next.ant-tabs-tab-arrow-show{
				 pointer-events:none;
				 opacity: 0;
	}
	.ant-tabs-nav-wrap{
		width: 1380px;
		margin:0 auto;
		.ant-tabs-ink-bar{
			bottom: 0 !important;
			background-color: #ffffff;
		}
	}
	.tabOne{
		// background-color: #f7f7f7;
	}
	.boxText{
		width: 930px;
		margin:0 auto;
		padding-top: 60px;
		padding-bottom: 80px;
		.guojia{
			height: 90px;
			// margin:0px 0 80px 130px;
			width: 100%;
			text-align: center;
			font-size: 20px;
			color: #555555;
		}
		.qingzhi{
			font-size: 20px;
			color: #555555;
  &.ziyuan{
		margin-top: 30px;
	}
			.ban{
				width: 100%;
				text-align: center;
				margin-bottom: 45px;
			}
			ul{

				&.lingWai{
					li{
						width: 20%;
					}
				}
				li{
					width: 25%;
					text-align: center;
					img{
						// margin:0 auto;
						margin-bottom: 22px;
					}
					.diFang{
						font-size: 16px;
						color: #555555;
					}
				}
			}
			.ImgContent{
				margin-top: 30px;
				&.imgOne img{
					display: block;
					margin: 0 auto;
				}
				&.imgTwo{
					position: relative;
					left: -120px;
				}
				&.imgThree{
					position: relative;
					left: -50px;
				}
			}
		}
	}
}
