#common{
	width: 100%;
	height: 100%;
	a{
display: block;
text-decoration: none;
height: 40px;
}
.ant-menu {
	background-color:inherit !important;
	border-bottom: none !important;
}
.ant-menu-submenu > .ant-menu{
background-color: inherit !important;
}
  .common-top {
    width: 1380px;
		margin: 0 auto;
		>ul {
			margin-bottom: 0;
		}
    // padding-top: 10px;
  }
    width: 100%;
    min-width: 1380px;
    margin: 0 auto; // background: url('~img/main.jpg') no-repeat center top;
    background-color:#fff;
    letter-spacing: 1px;
    .box{
        width: 100%;
        text-align: center;
				margin-top: 110px;
    }
    .topBox {
			// 传入图片
			&.service {
				background: url('~img/bg.png') no-repeat center top;
			}

			&.solve {
				height: 100%;
				background: url('~img/server1.jpg') no-repeat center top;
				background-size: cover;
			}
			&.main {
				height: 1000px;
				background: url('~img/nub.jpg') no-repeat center top;
			}
			&.new {
				height: 100%;
				background: url('~img/world1.png') no-repeat center top;
			}
			&.our {
				height: 100%;
				background: url('~img/world2.png') no-repeat center top;
			}
			&.cloud{
				background: url('~img/zhibeijing.jpg') no-repeat center top;
			}
			&.app {
				height: 100%;
				background: url('~img/banner333.png') no-repeat center top;
			}
			&.hardware {
				height: 100%;
			  background: url('~img/banner333.png') no-repeat center top;
			}
			&.education {
				height: 100%;
			  background: url('~img/banner333.png') no-repeat center top;
			}
			&.lab {
				height: 100%;
			  background: url('~img/banner333.png') no-repeat center top;
			}

        height: 500px;
        color: #fff;
        background-size: cover;

        li {
					// line-height: 40px;
					height: 38px;
					font-size: 15px;
          list-style: none;
					margin-top: 14px;
				&.liTwo{
					margin-left: 0px !important;
					margin-top: 16px !important;
					margin-right: 23px !important;
					}
        a{
					color: #fff;
					display: block;
        }
          img{
						width:172px;
						height: 28px;
            display: c
          }
          &.item{
            width: 110px;
						text-align: center;
					}
				}
        .topBoxright {
          li {
						width: 60px;
						height: 40px !important;
          }
          .blueBtn {
            margin-left: 10px;
            width: 135px;
            height: 46px;
            line-height: 40px !important;
            text-align: center;
            background-color: #3FA3FB;
          }
        }
        .content {

					margin: 0 auto;
					width: 1380px;
					height: 100%;
					position: relative;
					.bottomContent{
						margin-top: 292px;
						margin-left: 40px;
						p.pTow{
							width: 174px;
							height: 42px;
							text-align: center;
							line-height: 40px;
							font-size: 14px;
							background: #3ea2fa;
							background: -moz-linear-gradient(45deg, #3ea2fa 0%, #0ac8ff 100%);
							background: -webkit-linear-gradient(45deg, #3ea2fa 0%, #0ac8ff 100%);
							background: linear-gradient(45deg, #3ea2fa 0%, #0ac8ff 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea2fa', endColorstr='#0ac8ff', GradientType=1);
							color: #fff;
						}

					}

				}
			// 	.content li>item:hover{
			// 		.ServerHover {
			// 			display: block;
			// 		}

			// }

      }

}
