#common{
	a{
display: inline-block;
}
  .common-top {
    width: 1380px;
    margin: 0 auto;
    // padding-top: 10px;
  }
    width: 100%;
    min-width: 1380px;
    margin: 0 auto; // background: url('~img/main.jpg') no-repeat center top;
    background-color:#fff;
    letter-spacing: 1px;
    .box{
        width: 100%;
        text-align: center;
				margin-top: 110px;
				// border-bottom:
    }
    .topBox {
			// 传入图片
			&.service {
				background: url('~img/bg.png') no-repeat center top;
			}

			&.solve {
				height: 100%;
				background: url('~img/server1.jpg') no-repeat center top;
				background-size: cover;
			}
			&.main {
				height: 1000px;
				background: url('~img/nub.png') no-repeat center top;
			}
			&.new {
				height: 100%;
				background: url('~img/world1.png') no-repeat center top;
			}
			&.our {
				height: 100%;
				background: url('~img/world2.png') no-repeat center top;
			}
        height: 500px;
        color: #fff;
        background-size: cover;

        li {
					font-size: 15px;
          list-style: none;
				margin-left: 40px;
				&.liTwo{
					margin-left: 0px;
					margin-top: 8px;
					margin-right: 23px;
					}
        a{
          color: #fff;
        }
          img{
						width:172px;
						height: 28px;
            display: block
          }
          &.item{
            width: 110px;
            text-align: center;
          }
        }

        .topBoxleft {
          li {
            width: 100px;
          }
        }
        .topBoxright {
          li {
            width: 60px;
          }
          .blueBtn {
            margin-left: 10px;
            width: 135px;
            height: 46px;
            line-height: 46px;
            text-align: center;
            background-color: #3FA3FB;
          }
        }
        .content {
					position: relative;
					.bottomContent{
						margin-top: 292px;
						margin-left: 40px;
						p.pTow{
							border: 1px solid #fff;
							width: 174px;
							height: 42px;
							text-align: center;
							line-height: 42px;
							font-size: 14px;
							background-color: #3FA3FB;
						}

					}
        }

      }

}
