#lastFooter{
	margin-top: 42px;
  .bottomBox {

    height: 280px;
    background-color: #202528;
    .content {
      width: 1380px;
      margin:0 auto;
      padding-left: 30px;
    }
    .item {
      width: 220px;
      color: #fff;
			padding-top: 54px;
			&.itemOne{
				padding-top:11px;
				margin:0
			}
      .itemHead {
        font-size: 18px;
        margin-bottom: 17px;
      }
     ul{
       padding-left: 0;
      li {
        color: #A6A7A9;
        line-height: 40px;
        font-size: 14px;
        list-style: none;

      }
     }
    }
    .bottomRight {
      padding-top: 54px;
			width: 310px;
			&.itemOne{
				padding-top:14px;
				margin:0
			}
      .text {
        margin-top: 36px;
        color: #fff;
        font-size: 18px;
      }
    }
    }

    .footer {
    background-color: #2D3236;
    height: 80px;
    color: #ACADAF;
    line-height: 28px;
    font-size: 14px;
    .content {
      width: 1380px;
      margin:0 auto;
      padding-left: 25px;
      padding-top: 10px;
    }
    }

}
