#lastFooter{
  .bottomBox {
    margin-top: 42px;
    height: 280px;
    background-color: #202528;
    .content {
      width: 1380px;
      margin:0 auto;
      padding-left: 30px;
    }
    .item {
      width: 220px;
      color: #fff;
      padding-top: 54px;
      .itemHead {
        font-size: 18px;
        margin-bottom: 17px;
      }
     ul{
       padding-left: 0; 
      li {
        color: #A6A7A9;
        line-height: 40px;
        font-size: 14px;
        list-style: none;
       
      }
     }
    }
    .bottomRight {
    
      padding-top: 54px;
      width: 310px;
      .text {
        margin-top: 36px;
        color: #fff;
        font-size: 18px;
      }
    }
    }
    
    .footer {
    background-color: #2D3236;
    height: 80px;
    color: #ACADAF;
    line-height: 28px;
    font-size: 14px;
    .content {
      width: 1380px;
      margin:0 auto;
      padding-left: 25px;
      padding-top: 10px;
    }
    }

}