#community{
  width: 100%;
  min-width: 1380px;
  margin: 0 auto; // background: url('~img/main.jpg') no-repeat center top;
  background-color:#f4f7fc;
	letter-spacing: 1px;
	a{
		color: inherit;
		display: inline-block;
	}
  .nav{
    height: 52px;
    background-color: #f4f7fc;
    .navText{
      height: 52px;
      width: 1380px;
      line-height: 52px;
      margin: 0 auto;
      color: #666666;
      font-size: 20px;
    }
  }
  .bg{
    height: 300px;
    margin-bottom: 22px;
    background: url('~img/partbg.png') no-repeat center center;
  }

}
